:root {
  --alata: "Alata", sans-serif;
  --josefinSans: "Josefin Sans", sans-serif;
}

.App {
  text-align: center;
  width: 50%;
  margin: auto;
}

h1 {
  font-family: var(--alata);
  font-size: 3rem;
  color: cornsilk;
}
